<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABB0F5C12B5897A00026ECEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABD92A6B2B50245300764EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABD92A812B50245400764EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
